<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="co.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <script src="co.js"></script>
    <title>Connextion</title>
</head>
<body>
    <div class="content">
        <h1>Connection</h1>
        <div class="all_enter">
            <div class="enter">
                <span>Name</span>
                <input id="name" value="admin">
            </div>
            <div class="enter">
                <span>Mot de passe</span>
                <input id="mdp" value="adminpw">
            </div>
        </div>
        <span class="info" id="info">Veuilliez remplir tout les champ</span>
        <button onclick="connection()">Connection</button>
    </div>
</body>
</html>